fastapi
uvicorn[standard]

# Validación de esquemas y tipos
pydantic>=1.10.13

# Motor de base de datos y ORM
sqlalchemy==1.4.36

# Driver para PostgreSQL (Requerido para el dialecto de SQLAlchemy)
psycopg2-binary==2.9.3
python-Levenshtein>=0.21.0
requests
python-dotenv